/* Selector universal */
*{
    margin: 0; 
    padding: 0;
}

:root {
    --violet: #820A54;
    --green: #4F9673;
    --dark-green: #234132;
    --light-green: #9CCEAC;
}

body {
    font-family: 'Roboto', sans-serif;
}

.logo-header{
    flex-direction: column;
    justify-content: center;
    display: flex;
    align-items: center;
    min-height: 175px;
    padding-left: 40px;
    padding-right: 40px;
}

.logo-header-m{
    align-items: center;
}

.logo-header-img{
    margin: auto;
    display: block;
    width: auto;
    height: auto;
}

/* Barra de secciones */

.header{
    background-color: var(--light-green);
    position: sticky;
    top:0;
    left:0;
    width: 100%;
    z-index: 9999;
}

nav {
    display: flex;
    justify-content: space-between;    
    align-items: center; 
    height: 60px;
    padding: 0px 50px;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 30px;
    cursor: pointer;
    white-space: nowrap;
    flex-wrap: wrap;
    font-size: 1em;
}

.nav-links li a{
    color: var(--dark-green);
    text-decoration: none;
}

.buttons-btn{
    font-size: 1em;
    font-weight: 400;
    cursor: pointer;
    white-space: nowrap;
    display: flex;
    justify-content: right;
}

.buttons-btn a{
    color: #FFF;
    text-decoration: none;
}

#btn-vervio1{
    padding: 10px;
    border-radius: 8px;
    margin-right: 20px;
    background-color: var(--violet);
}

#btn-vervio2{
    padding: 10px;
    border-radius: 8px;
    background-color: var(--green);
}

#top {
    background-image: url('../Img/top_image-min.png');
    background-size: cover;
    background-position: center;
    height: 30vw;
}

.hd-logo {
    height: 20vw;
    margin-top: 3em;

}

.logo {
    width: 43vw;
}

.page-title {
    margin-top: 5vw;
    margin-bottom: 4vw;
}

#nuestros-amigurumis {
    display: flex;
    padding: 0 7vw 0 7vw;
}

#nuestros-amigurumis div {
    width: 20vw;
    margin: 0 2vw 0 0;
    background-color: #fff;
    
}

#categoria-1 {
    flex: 1;
}

#categoria-2 {
    flex: 1;
}

#categoria-3 {
    flex: 1;
}

#categoria-4 {
    flex: 1;
}

.cards {
    position: sticky;
    top: 0;
    width: 50vw;
    height: 50vw;
    min-width: 300px;
    min-height: 300px;
    max-width: 100vh;
    max-height: 100vh;
    overflow: hidden;
    /*
    width: 100%;
    float: left;
    display: flex;
    position: absolute;
    justify-content: space-around;*/
}

.card-categorias-img {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1em;
    justify-content: space-around;
    /*border-radius: 14px;
    position: relative;
    width: 30%;*/
}

.card-categorias-txt {
    color: var(--dark-green);
    font-size: 1.3em;
    font-weight: 300;
    text-align: center;
}

h1{
    color: var(--violet);
    font-size: 2em;
    font-weight: 400;
    text-align: center;
}

footer{
    background-color: var(--green);
    padding-top: 5%;
    float: left;
    width: 100%;
    margin-top: 5%;
}

.footer-logo {
    background-color: #fff; 
    border-radius: 7px; 
    width: 353px;
    display: block;
    align-items: center;
} 